.topbar-info-text p {
    color: var(--white-color);
    opacity: 80%;
    margin-bottom: 0;
    text-align: center;
}

.section-title h1 {
    font-size: 52px;
    font-weight: 700;
    color: var(--white-color);
    margin-bottom: 0;
    cursor: none;
}

.service-card {
    background: #fff;
    padding: 30px 20px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s ease;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
    height: 100%;
}

.service-card i {
    font-size: 40px;
    color: #4f46e5;
    margin-bottom: 15px;
}

.service-card h4 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

.service-card p {
    font-size: 14px;
    color: #666;
}

/* Hover Effect */
.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}

/* Active Card (Highlight like your middle one) */
.service-card.active {
    background: linear-gradient(135deg, #4f46e5, #06b6d4);
    color: #fff;
}

.service-card.active i,
.service-card.active p {
    color: #fff;
}

.service-why-choose-box,
.service-entry-feature-box {
    margin-top: 30px;
}