.bg-color-op-1 .fa-solid {
    color: #0a2540 !important;
    /* Navy Blue */
}

/* Overlay */
#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    /* hidden initially */
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* Popup Box */
.popup-box {
    background: #fff;
    border-radius: 20px;
    padding: 30px 20px;
    width: 90%;
    max-width: 420px;
    text-align: center;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* Close Button */
.popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
    color: #666;
}

/* Logo */
.popup-logo img {
    max-width: 140px;
    margin-bottom: 15px;
}

/* Text */
.popup-box h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.popup-box p {
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
}

/* Button */
.popup-btn {
    display: flex;
    justify-content: center;
}

.call-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: #4A7CD2;
    color: #fff;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;
}

.call-btn:hover {
    background: #4A7CD2;
}

/* Mobile */
@media (max-width: 480px) {
    .popup-box {
        padding: 25px 15px;
    }

    .popup-box h2 {
        font-size: 18px;
    }

    .popup-box p {
        font-size: 14px;
    }
}

.call-float {
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    background-color: #4A7CD2;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 9999;
    text-decoration: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    animation: pulse 2s infinite;
}

/* Hover effect */
.call-float:hover {
    transform: scale(1.1);
}

/* Pulse Animation */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(74, 124, 210, 0.7);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(74, 124, 210, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(74, 124, 210, 0);
    }
}

section {
    padding: 60px 0 60px 0;
}